

	body {
		background:url('background.png') 0px 0px repeat-x #d0d0d0;
		/*background:url('img.png') 0px 0px repeat-x #d0d0d0;
		background-image:url('img.png') ;
		background-repeat: no-repeat;
		background-size: 100%;*/
		
		}
		
	#container {
		background: #cccccc;
		
		width: 800px;
		height:3570px;
		margin:20px auto;
		border: #666666 1px solid;
		/*opacity:.8;*/
		}
		
	
		
	nav {
		position: fixed; 
		top: 0px; 
		margin: 0 auto;
		z-index: 999; 
		width:100%;
	}
		
	nav ul{
		width:100%;
		margin: 0 auto;
		padding:0px;
		list-style:none;
	}
	nav li {
		display: inline;
	}
	nav ul li{
		float:left;
		margin:0px;
		display: block;
	}
	nav ul li a{
		display:block;
		width:200px;
		height:50px;
		line-height:50px;
		font-size: 18pt;
		font-family: "century gothic";
		text-align:center;
		color:#ffffff;
		text-decoration:none;
		background:url('nav.png') 0px -50px repeat-x #000000;
	}
	nav ul li a:hover{
		background:url('nav.png') 0px -25px repeat-x #999999;
	}
	nav ul li a img {
		width:200px;
	}
	
	nav a {
		color: #fff;
		display: inline-block;
		width: 100px;
		text-align: center;
		text-decoration: none;
		line-height: 40px;
		text-shadow: 1px 1px 0px #283744;
	}
	
	.clearfix:before,  
	.clearfix:after {  
		content: " ";  
		display: table;  
	}  
	.clearfix:after {  
		clear: both;  
	}  
	.clearfix {  
		*zoom: 1;  
	}  
	
	nav a#pull {  
		display: none;  
	}
	
	#content {
		width: 100%;
		
	}
	
	#content img{
		width:200px;
		height:150px;
		padding:12px;
		background: #ffffff;
		border:#666666 1px solid;
		margin: 30px 0px 30px 30px;
		float:left;
	}
	
	#spacing {
		width: 100%;
		height: 0px;
	}
	
	.buffer {
		width:100%;
		height:0px;
	}
	
	p{
		margin:0px 20px;
		padding: 10px 10px;
	}
	
	h2 {
		padding: 10px 10px;
	}
	
	h3 {
		padding: 10px 10px;
	}
	
	/*	for tablets	*/
	@media screen and (max-width: 817px) {  
	
	#container {
		width: 100%;
		height: 1%;
		overflow: hidden;
	}
	
	#spacing {
		height: 80px;
		width: 100%;
	}
	.buffer {
		width:100%;
		height:60px;
	}
	
	#content {
		clear:both;
		display: block;
	}
	
	#content  img{
		clear: both;
		margin: 0 auto;
		display: block;
	}
	
    nav {   
        height: auto;  
		background:url('nav.png')  repeat #000000;
		float: left;
    }  
    nav ul {  
        
        display: block;  
        height: auto;  
    }  
    nav ul li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
	nav ul li a{
		width: 100%;
	}
}  
	
	/*	for smart phones	*/
	@media only screen and (max-width : 400px) {  
	#container {
		width: 100%;
		height: 1%;
		overflow: hidden;
	}
	.buffer {
		width:100%;
		height:0px;
	}
	
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
		width: 100%;
    }  
	
	nav ul li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
	
    nav a#pull {  
        display: block;  
        background-color: #283744;  
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
        top: 10px;  
    }  
	
	#spacing {
		height: 0px;
		width: 100%;
	}
}  

